$baseFontFamily: 'Alegreya Sans';
$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$white: #fff;
$black: #292929;
$gray: #666666;
$yellow: #FEDB3F;
$yellow--hover: #FFD517;
$white-bg: #F5F5F5;
$blue: #1968B1;


//setups
@import "./../../layout/normalize.css";
@import "./../../layout/base.scss";
// @import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap');

//z-indexes
$z-fixed-menu: 100;

//components
@import "./hero.scss";
@import "./hero.scss";
@import "./header.scss";
@import "./features.scss";
@import "./../blocks/btn.scss";
@import "./section.scss";
@import "./headline.scss";
@import "./benefits.scss";
@import "./benefit.scss";
@import "./benefits-section.scss";
@import "./reviews.scss";
@import "./interactive-avatar.scss";
@import "./reviews-section.scss";
@import "./form.scss";
@import "./order.scss";
@import "./../blocks/radio.scss";
@import "./fixed-menu.scss";
@import "./plugs.scss";



